{{this.movie}}
<ul class="flex flex-column items-center list pl0 ml0 center mw5 ba b--light-silver br3">
  <li class="ph3 pv2 bb b--light-silver">Title: <input id='editTitle' value={{this.model.title}}></li>
  <li class="ph3 pv2 bb b--light-silver">Director: <input id='editDirector' value={{this.model.director}}></li>
  <li class="ph3 pv2 bb b--light-silver">Release Year: <input id='editRelease' value={{this.model.release}}></li>
  <li class="ph3 pv2 bb b--light-silver">Duration: <input id='editDuration' value={{this.model.length}}>minutes</li>
  <li class="ph3 pv2 bb b--light-silver">Genre: <input id='editGenre' value={{this.model.genre}}> </li>
  <li class="ph3 pv2 bb b--light-silver">Actors: <input id='editActors' value={{this.model.actors}}></li>
  <li class="ph3 pv2 bb b--light-silver">Plot: <textarea id='editPlot' value={{this.model.plot}}></textarea></li>
  <li class="ph3 pv2 bb b--light-silver">Rating: <input id='editRating' value={{this.model.rating}}>Enter a value
    between 1-5</li>
</ul>
<span class="flex flex-column items-center">
  {{#link-to 'movies.movie.details'}}<button class="f6 link dim br1 ph3 pv2 mb2 dib white bg-black"
    onclick={{action "updateDetails" }}>Save Changes</button>{{/link-to}}{{#link-to 'movies.movie.details'}}<button
    class="f6 link dim br1 ph3 pv2 mb2 dib white bg-black">Cancel</button>{{/link-to}}
</span>